.nav{
  @media (max-width: 530px) {
    margin-right: 0;
  }
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  margin-right: 15px;

  @media(max-width: 1000px){
    margin-bottom: 13px;
  }


  &__link{
    @media (max-width: 530px) {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-family:$ff-main-bold;
    text-decoration: none;
    text-transform: capitalize;
    color:#424242;
    transition: .3s;

    &:hover,&--active{
      color:#de2b24;

    }

    &:after{
      @media (max-width: 530px) {
        display: none;
      }
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #424242;
      margin-left: 15px;

    }
    &:last-child:after{
      display: none;
    }

  }
}

@media all and (max-width: 530px){
  .nav .button{
    margin: 0;
  }
}