.title{
  margin-bottom:65px;
  text-align: center;
  font-family:$ff-main-bold;

  &__header{
    margin: 0;
    font-size:2.2rem;
    line-height: 1;
  }

  &__text{
    font-size:1.25rem;
    font-family:$ff-main-light;
  }

  &--with-bottom-line{
    position: relative;


    &:after{
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;

      content:"";
      bottom:-16px;
      width:47px;
      height: 5px;
      background: #424242;
    }


  }
}